#game{
    height: 700px;
    width: 1511px;
    background-image:url('ghdwiduiud.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 4px solid black;
    margin-left: 0% ;
    margin-top: 0%;
    overflow: hidden;
    position: relative;
}

body{
    background-color: aliceblue;

}
#pipel{
    position: absolute;
    width: 50px;
    height: 50%;
    background-image: url('dsdsd.jpg');
    transform: rotate(180eg);
}
#pipe2{
    position: absolute;
    width: 50px;
    height: 30%;
    top: 80%;
    background-image: url('dsdsd.jpg');

}
.obs{
    left: 95%;
    animation: move 4s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes move {
    0%{
        left: 100%;
    }
    100%{
        left: -6%;
    }
}
#bird{
    position: absolute;
    top: 200px;
    left: 90px;
    
}
#bird img{
    height: 200px;
    width: 300px;
}


@media only screen and (max-width : 1080px){

    .score{
        font-size: 8vh;
    }
    
}
































